.prescription {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.blue-button {
  border: 2px solid #0084c0;
  border-radius: 0.2rem;
  background: white;
  color: #0084c0;
  padding: 0.5rem;
}

.blue-button:hover:not(:disabled) {
  border: 2px solid #486bab;
  background: #486bab;
  color: white;
}

.cancel-button {
  border: 2px solid #ac2609;
  border-radius: 0.2rem;
  background: white;
  color: #ac2609;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.cancel-button:hover:not(:disabled) {
  border: 2px solid #ac2609;
  background: #ac2609;
  color: white;
}

.accordion {
  margin: 1rem 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  border: none;
  background-color: #dfdede;
  width: 50%;
}

@media (min-width: 40rem) {
  .accordion {
    width: 80%;
  }

  .cancel-button {
    margin: 0 1.5rem;
  }

  .toggle {
    margin: 1rem;
  }
}
