.patients {
  color: #0084c0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  border: none;
  background-color: #dfdede;
  width: 50%;
}

.details {
  padding: 0.5rem;
}

.details:hover {
  text-decoration: none;
  color: white;
  background-color: cornflowerblue;
  border-radius: 3px;
}

@media (min-width: 40rem) {
  .accordion {
    width: 80%;
    max-width: 800px;
  }

  .toggle {
    margin: 1rem;
  }
}
