.addApt {
  height: 100vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background: #0084c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  height: 60vh;
  width: 60vw;
  text-align: center;
}

.input-group > label {
  margin: 0 1rem;
}

.input {
  border: none;
  border-radius: 3px;
}

.error {
  color: #ac2609;
  font-weight: bold;
  display: block;
}

.submit-btn{
  border: 2px solid #0084c0;
  border-radius: 0.2rem;
  background: white;
  color: #0084c0;
  margin: 1.5rem;
  padding: 0.5rem;
}

.submit-btn:hover {
  border: 2px solid #486bab;
  background: #486bab;
  color: white;
}

.cancel {
  border: 2px solid #ac2609;
  border-radius: 0.2rem;
  background: white;
  color: #ac2609;
  margin: 1.5rem;
  padding: 0.5rem;
}

.cancel:hover {
  border: 2px solid #ac2609;
  background: #ac2609;
  color: white;
}
